<div style="background-color: white;padding-bottom: 10pt;padding-top: 10pt;">
    <div class="container">
        <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
            <div style="font-size: xx-large;font-weight: bolder;color: rgb(40 ,86 ,146);">
                <img src="assets/logo.png" height="90pt"> Lonesons&nbsp;Logistics
            </div>
            <div class="infoBox">
                <div class="siteIdentityPointer">
                    <b>
                        Working hours
                    </b>
                    <div style="font-style: italic;">
                        9:00AM - 5:00PM
                    </div>
                </div>
                <div class="siteIdentityPointer">
                    <b>
                        Location
                    </b>
                    <div style="font-style: italic;">
                        Sialkot
                    </div>
                </div>
                <div class="siteIdentityPointer">
                    <b>
                        Call us
                    </b>
                    <div style="font-style: italic;">
                        <a style="text-decoration: none;color: #000;" href="tel:+92 52 3573013">+92 52 3573013</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>