<div class="container" style="color: white;border-bottom: 1px solid rgba(255, 255, 255, 0.3);width: 100%;">
    <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <div>
            Lonesons&nbsp;Logistics
        </div>
        <div style="display: flex;flex-direction: row;">
            <div class="siteIdentityPointer">
                Working hours
            </div>
            <div class="siteIdentityPointer">
                Location
            </div>
            <div class="siteIdentityPointer">
                Call us
            </div>
        </div>
    </div>
</div>