<div class="container" class="container">
    <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <div style="font-size: xx-large;font-weight: bolder;color: lightblue;">
            Lonesons&nbsp;Logistics
        </div>
        <div class="infoBox">
            <div class="siteIdentityPointer">
                Working hours
            </div>
            <div class="siteIdentityPointer">
                Location
            </div>
            <div class="siteIdentityPointer">
                Call us
            </div>
        </div>
    </div>
</div>