<div style="width: 100%;background-color: rgba(0, 0, 255, 0.589);display: flex;
align-items: center;padding-left: 1vw;padding-right: 1vw;min-height: 25vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div style="font-size: 3vh;">Get a quick offer</div>
                <div>*{{" "}}<div style="display: inline;color: orange;">Learn more</div> about the service</div>
            </div>
            <div class="col-md-2">
                <input style="margin-top: 1vh;margin-bottom: 1vh;" class="form-control col-12" placeholder="Origin" />
            </div>
            <div class="col-md-2">
                <input style="margin-top: 1vh;margin-bottom: 1vh;" class="form-control col-12" placeholder="Destination" />
            </div>
            <div class="col-md-2">
                <input style="margin-top: 1vh;margin-bottom: 1vh;" class="form-control col-12" placeholder="Load (lbs)" />
            </div>
            <div class="col-md-2">
                <button style="margin-top: 1vh;margin-bottom: 1vh;" class="btn btn-warning col-12">Let's Go</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: end;font-size: 3vh;">
                Total Cost: <div style="display: inline;color: orange;">{{"3000"}} PKR</div>
            </div>
        </div>
    </div>
</div>