<div style="background-color: white;color: rgb(40 ,86 ,146);">
    <div class="container" style="display: flex;align-items: center;justify-content:space-between;padding-top: 5vh;padding-bottom: 5vh;flex-wrap: wrap;">
        <div style="display: flex;align-items: center;">
            <img src="assets/logo.png" height="100pt" style="margin-right: 20pt;">
            <div style="font-weight: bold;font-size: x-large;">
                <div>LONESONS LOGISTICS</div>
                <div>& Supply chain Management</div>
            </div>
        </div>
        <div style="font-weight: 500;font-size: larger;margin-top: 5vh;margin-bottom: 5vh;">© 2022 Lonesons Logistics. All rights reserved</div>
    </div>
</div>