<div class="navigationBar centerAllTheWay">
    <div class="container" style="display: flex;">
        <div class="SiteBrand">
            Lonesons&nbsp;Logistics
        </div>
        <div style="width: 100%;">
            <ul class="navbarLinksDiv">
                <li class="navBatItems navLinkItem fromCenter">
                    Home
                </li>
                <li class="navBatItems navLinkItem fromCenter">
                    Company
                </li>
                <li class="navBatItems navLinkItem fromCenter">
                    Global Coverage
                </li>
                <li class="navBatItems navLinkItem fromCenter">
                    News
                </li>
                <li class="navBatItems navLinkItem fromCenter">
                    Contact
                </li>
                <li class="navBatItemsButton">
                    Request Quote
                </li>
            </ul>
        </div>
    </div>
</div>