<div style="min-height: 70vh;background-image: url(assets/site-images/driverandtruck.jpg);
background-repeat: no-repeat;background-size: cover;">
    <div style="min-height: 70vh;width: 100%;background-color: rgba(0, 0, 0, 0.8);
    display: flex;align-items: center;color: white;
    ">
        <div class="container">
            <h1>Contact Lonesons</h1>
            <div style="font-size: larger;">We'll get to you ASAP!</div>
        </div>
    </div>
</div>
<div style="min-height: 70vh;display: flex;align-items: center;background-color: white;justify-content: center;
">
    <div class="container" style="width: 100%;">
        <br>
        <br>
        <h1 style="color: gray;text-align: center;">Lets start a conversation</h1>
        <br>
        <div class="row">
            <div class="col-md-6" style="display: flex; align-items: center;flex-direction: column;">
                <img src="assets/site-images/organic-flat-customer-support-illustration_23-2148899174.jpg"
                style="width: 100%;"
                alt="">
                <h2>Contact our support team</h2>
                <br>
                <br>
            </div>
            <div class="col-md-6" style="border-left: 2px solid orange;
            display: flex;flex-direction: column;justify-content: center;
            padding-left: 20pt;">
                <h4 style="color: gray;">Reach out to us on Social Media</h4>
                <div style="padding-left: 20pt;">
                    <div>Facebook</div>
                    <div>Instagram</div>
                    <div>Twitter</div>
                </div>
                <br />
                <h4 style="color: gray;">Or contact at</h4>
                <div style="padding-left: 20pt;">
                    <div>Email</div>
                    <div>Whatsapp</div>
                    <div>Telephone</div>
                </div>
            </div>
        </div>
        <br>
        <br>

    </div>
</div>