<div style="background-image: url(/assets/bannerImages/bannerImage2.jpg);color: white;">
    <div
        style="display: flex;align-items: center;justify-content: center;
        height: 75vh;background-image: linear-gradient(rgba(0, 0, 255, 0.95), rgba(255, 115, 0, 0.336))">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left"
                    style="border-left: 4px solid orange;padding-left: 2vw;padding-top: 1vh;padding-bottom: 1vh;">
                    <h1 style="font-size: 4vh;font-weight: bold;">Lonesons Logistics</h1>
                    <h1 style="font-size: 6vh;">& Supply chain management</h1>
                    <button class="btn btn-warning"
                        style="margin-top: 2vh;padding-left: 20pt;padding-right: 20pt;">Our&nbsp;Services</button>
                </div>
            </div>
        </div>
    </div>
    <app-estimate-box></app-estimate-box>
</div>