<div class="banner">

</div>
<div class="centerize">
    <div class="container" style="height: 100vh;display: flex;align-items: center;">
        <div style="width: 100%;">
            <h1 style="font-size: 8vh;color: blue;font-family: cursive;text-shadow: 1px 1px 10px black;">Lonesons
                Logistics
            </h1>
            <h4 style="font-size: 4vh;color: blue;font-family: cursive;text-shadow: 1px 1px 5px black;">Striving to
                deliver to the potential</h4>
        </div>
    </div>
</div>