<app-site-identity></app-site-identity>
<div class="sticky-top">
    <app-navigation></app-navigation>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div class="aboutSiteClass" id="aboutSiteDrawe" style="transform: translateX(-100%);transition: 1s;">
    <div>
        <div style="text-align: center;font-size: small;">
            The site originally developed by SolutionAve for <b>Lonesons Logistics</b>
        </div>
        <br>
        <div style="text-align: center;font-size: small;">
            For more information about our services <br /> Email us at <a
                href="mailto:infodesk@solutionave.com">infodesk@solutionave.com</a>
        </div>
        <div style="text-align: center;font-size: small;">
            Visit our website <a href="http://solutionave.com" target="_blank"
                rel="noopener noreferrer">solutionave.com</a>
        </div>
    </div>
    <div>
        <br>
        <div class="inlineContent">
            <img src="assets/solutionave-logo.png" style="height: 100pt;" alt="" srcset="">
            <div style="font-style: italic;">
                <h1 style="color:#007d3d;margin-bottom: 0pt;margin-top: 0pt;font-size: xx-large;">SolutionAve</h1>
                <div style="color: #90291a;font-size: small;">Providing solutions you need</div>
            </div>
        </div>
        <div style="text-align: center;font-style: italic;font-size: small;color: gray;">
            © 2022 SolutionAve. All rights reserved
        </div>
    </div>
</div>