<div style="background-color: white;">
    <div style="min-height: 80vh;background: linear-gradient(blue,orange);
    display: flex;align-items: center;">
        <div class="container">
            <div style="font-size: 6vh;font-weight: bold;">Lonesons Logistics</div>
            <div style="font-size: 4vh;font-weight: bold;color: white;">& Supply Chain Management</div>
        </div>
    </div>
    <div style="text-align: center;padding-top: 5vh;padding-bottom: 5vh;">
        <app-blogs 
        [length]="-1"
        ></app-blogs>
    </div>
</div>