<div style="background-color: white;">
    <div style="min-height: 60vh;background: linear-gradient(to bottom right,rgba(40 ,86 ,146,0.6),white);
    display: flex;align-items: center;">
        <div class="container">
            <div style="font-size: 6vh;font-weight: bold;color: rgba(40 ,86 ,146,1);">Lonesons Logistics</div>
            <div style="font-size: 4vh;font-weight: bold;color: white;">& Supply Chain Management</div>
        </div>
    </div>
    <div style="text-align: center;padding-top: 5vh;padding-bottom: 5vh;">
        <app-blogs 
        [length]="-1"
        ></app-blogs>
    </div>
</div>