<div style="background-image: url(assets/bannerImages/worldMap.svg);background-size: contain;
background-repeat: no-repeat;color: white;
background-position: right;background-attachment: fixed;">

    <div style="height: 60vh;display: flex;align-items: center;">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div style="font-size: 6vh;border-bottom: 2px solid orange;
                    padding-bottom: 2vh;color: white;font-weight: bold;">Our
                        Services</div>
                    <div style="font-size: 3vh;padding-top: 2vh;">We value your time and money</div>
                    <button style="margin-top: 3vh;font-size: larger;" class="btn btn-light"
                        (click)="scroll()">
                        Learn More
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: white;color: gray; border-top: 10pt solid lightblue;text-align: center;
    display: flex;justify-content: center;padding-bottom: 5vh;">
        <div style="padding: 30pt;font-size: xx-large;width: fit-content;
    border-bottom: 1px solid gray;">Our services range from <b style="color: black;">Sea Freight</b> to <b
                style="color: black;">Air Freight</b></div>
    </div>
    <div style="background-color: white;padding-top: 5vh;
    text-align: center;padding-bottom: 5vh;color: rgb(40, 86, 146);;">
        <h1 style="font-weight: bold;"><i>SERVICES NETWORK</i></h1>
        <div style="font-size: xx-large;font-style: italic;
        color: gray;">Networking the community for maximum impact</div>
        <div style="margin-top: 2vh;font-size: larger;font-style: italic;text-align: start;" class="container">
            <div style="margin-bottom: 1vh;">
                We offer cargo consolidation by Air or Sea for our customers with excellent logistics support and
                transportation services, we offer customized cargo consolidation services with the most professional
                manner
            </div>
            <div style="margin-bottom: 1vh;">
                We render personalized cargo packages as per the requirements of the clients.
            </div>
            <div style="margin-bottom: 1vh;">
                We make sure that the cardo reaches the respective destination well before the specified time.
            </div>
        </div>
    </div>

    <div
        style="padding-top: 5vh;padding-bottom:5vh;background-color: white;color: black;display: flex;align-items: center;flex-direction: column;">
        <h3 style="margin-bottom: 3vh;color: gray;">
            <div style="display: inline;font-size: xx-large;color: rgb(40, 86, 146);">We Offer</div> services worldwide in
        </h3>
        <div class="container">
            <div class="row">
                <div *ngFor="let item of services" class="col-md-6">
                    <div class="serviceItem">
                        <div style="font-size: large;font-weight: bold;">{{item.title}}</div>
                        <div>Content</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;padding-top: 5vh;padding-bottom: 5vh;">
        <h1>Supply chain execution</h1>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div *ngFor="let item of supplyChainExecution" style="padding: 10pt;" class="col-md-3">
                    <div style="width: 100%;padding-top: 2vh;padding-bottom:2vh;
                    background-color: rgba(0, 0, 0, 0.548);color: white;height: 100%;
                    min-height: 20vh;border-radius: 10pt;padding: 30pt;
                    display: flex;align-items: center;justify-content: center;">
                        <h3>{{item.title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div style="min-height:70vh;background-color:white;color: gray;display: flex;
        flex-direction: column;align-items: center;justify-content: center;padding-top: 5vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="display: flex;flex-direction: column;justify-content: center;">
                    <h5 style="color: rgb(150, 150, 150);">Call us at: +92-333-123-1231</h5>
                    <h3 style="color:gray;">Making transportation <em>Fast and Save</em></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates accusamus dolor fugit
                        numquam
                        tenetur, corporis laudantium. Est non perspiciatis quibusdam officiis aliquid optio eum
                        voluptates
                        minima nostrum. Quam, quia nihil.</p>
                </div>
                <div class="col-md-6" style="background-image: url(/assets/site-images/logistics-costs.jpg);min-height: 70vh;
                background-position: center;background-size: contain;background-repeat: no-repeat;">

                </div>
            </div>
        </div>
    </div> -->
</div>