<div style="background-image: url(assets/bannerImages/worldMap.svg);background-size: contain;
background-repeat: no-repeat;color: white;
background-position: right;background-attachment: fixed;">

    <div style="height: 80vh;display: flex;align-items: center;
    padding-top: 20vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div style="font-size: 4vh;border-bottom: 2px solid orange;
                    padding-bottom: 2vh;color: orange;">Our
                        Services</div>
                    <div style="font-size: 3vh;padding-top: 2vh;">We value your time and money</div>
                </div>
            </div>
        </div>
    </div>
    <div
        style="padding-top: 3vh;padding-bottom:3vh;background-color: white;color: black;display: flex;align-items: center;flex-direction: column;">
        <h3 style="margin-bottom: 3vh;color: orange;">We Offer</h3>
        <div class="container" style="display: flex;flex-direction: column;width: 100%;">
            <div style="display: flex;align-items: center;justify-content: space-evenly;">
                <div class="serviceItem">
                    <div style="font-size: large;font-weight: bold;">Contract Logistics</div>
                    <div>Content</div>
                </div>
                <div class="serviceItem">
                    <div style="font-size: large;font-weight: bold;">Overland, Ocean and Air freight</div>
                    <div>Content</div>
                </div>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-evenly;">
                <div class="serviceItem">
                    <div style="font-size: large;font-weight: bold;">Warehouse and Storage</div>
                    <div>Content</div>
                </div>
                <div class="serviceItem">
                    <div style="font-size: large;font-weight: bold;">Consulting Service</div>
                    <div>Content</div>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>