<div class="container" style="display: flex;align-items: center;color: white;width: 100%;">
    <div style="display: flex;justify-content: flex-end;flex-direction: row;width: 100%;align-items: center;">
        <!-- <div style="font-size: x-large;font-weight: bold;">
            Lonesons Logistics
        </div> -->
        <div style="list-style: none;display: flex;flex-direction: row;">
            <div class="navItem"> 
                <a class="navLink" routerLinkActive="navLinkActive" routerLink="/" [routerLinkActiveOptions]="{exact: true}" >Home</a>
            </div>
            <div class="navItem">
                <a class="navLink" routerLinkActive="navLinkActive" routerLink="/services" >Services</a>
            </div>
            <div class="navItem">
                <a class="navLink" routerLinkActive="navLinkActive" routerLink="/about-us" >About&nbsp;us</a>
            </div>
            <div class="navItem">
                <a class="navLink" routerLinkActive="navLinkActive" routerLink="/news" >News</a>
            </div>
            <div class="navItem">
                <a class="navLink" routerLinkActive="navLinkActive" routerLink="/contact" >Contact</a>
            </div>
        </div>
    </div>
</div>