<nav class="navbar navbar-expand-lg navbar-light bg-warning mb-3" style="z-index: 11;">
    <div class="container">
        <a class="navbar-brand" [routerLink]="'.'">&nbsp;</a>

        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class=" nav-item">
                    <a class="nav-link" routerLinkActive="navLinkActive active" routerLink="/"
                        [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link" routerLinkActive="navLinkActive active" routerLink="/services"
                        [routerLinkActiveOptions]="{exact: true}">Services</a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link" routerLinkActive="navLinkActive active" routerLink="/about-us"
                        [routerLinkActiveOptions]="{exact: true}">About&nbsp;us</a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link" routerLinkActive="navLinkActive active" routerLink="/news"
                        [routerLinkActiveOptions]="{exact: true}">News</a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link" routerLinkActive="navLinkActive active" routerLink="/contact"
                        [routerLinkActiveOptions]="{exact: true}">Contact</a>
                </li>

            </ul>
        </div>
    </div>
</nav>