<div class="container" style="display: flex;align-items: center;color: white;width: 100%;">
    <div style="display: flex;justify-content: flex-end;flex-direction: row;width: 100%;align-items: center;">
        <!-- <div style="font-size: x-large;font-weight: bold;">
            Lonesons Logistics
        </div> -->
        <div style="list-style: none;display: flex;flex-direction: row;">
            <div class="navItem">
                Home
            </div>
            <div class="navItem">
                Services
            </div>
            <div class="navItem">
                About&nbsp;us
            </div>
            <div class="navItem">
                News
            </div>
            <div class="navItem">
                Contact
            </div>
        </div>
    </div>
</div>