.navItem {
  padding: 5pt;
  margin: 5pt;
  
}
.navLink {
  padding: 5pt;
  text-decoration: none;
  transition: 0.4s;
  border-bottom: 4px solid transparent;
}
.navLink:hover {
  color: orange;
  text-decoration: none;
  border-bottom: 4px solid white;
}

.navLinkActive {
  padding: 5pt;
  text-decoration: none;
  color: orange;
  text-decoration: none;
  border-bottom: 4px solid white;
}